---
import Button from '@/components/Button.astro';

const links = [
  { label: 'Inicio', href: '/' },
  { label: 'Quiénes somos', href: '/quienes-somos' },
  { label: 'Qué hacemos', href: '/que-hacemos' },
  { label: 'Formas de ayudar', href: '/formas-de-ayudar' },
  { label: 'Donaciones', href: '/donaciones' },
  { label: 'Contacto', href: '/contacto' },
];

const socialLinks = [
  { id: 'facebook', link: 'https://www.facebook.com/unagotade.salud' },
  { id: 'instagram', link: 'https://www.instagram.com/gotadesalud/' },
  { id: 'whatsapp', link: 'https://wa.me/543515917215' },
];

const credits = {
  fotografia: {
    name: 'Analía Villagra',
    href: 'https://www.facebook.com/analia.villagra',
  },
  web: {
    name: 'Facundo Chavez',
    href: 'https://www.facundochavez.com/es',
  },
};
---

<footer class='w-screen bg-primary text-white text-lg flex flex-col items-center px-[5%] pt-16 pb-12'>
  <div class='w-full max-w-container flex gap-16'>
    <!-- FIRST COLUMN -->
    <div class='w-[40%] flex flex-col gap-4 [&>p]:text-lg'>
      <a href='/'>
        <img src='/logo-mobile-white.svg' alt='Logotipo de Una Gota de Salud' class='w-[16rem] h-auto' />
      </a>
      <p class='mt-4 mb-2 text-balance'>
        Una Gota de Salud es una organización no gubernamental sin fines de lucro, destinada a brindar asistencia sanitaria en parajes inhóspitos del
        noroeste de Córdoba.
      </p>
      <p>PERSONERÍA JURÍDICA Nº 30-10000000-1</p>
    </div>

    <!-- SECOND COLUMN -->
    <nav class='w-[30%] flex flex-col gap-4 pl-16'>
      {
        links.map((link) => (
          <a href={link.href} class='hover:underline underline-offset-[3px] active:opacity-70'>
            {link.label}
          </a>
        ))
      }
    </nav>

    <!-- THIRD COLUMN -->
    <div class='w-[30%] flex flex-col gap-1'>
      <Button href='/voluntariado' class='bg-white !text-primary w-fit hover:bg-white/80'>Voluntariado &nbsp;→</Button>
      <a href='https://maps.app.goo.gl/2AQruwaYY6AMYJV96' target='_blank' class='mt-10 hover:underline underline-offset-[3px] active:opacity-70'
        >Santa Rosa 1803, Córdoba Capital</a
      >
      <a href='https://wa.me/543515917215' rel='noopener noreferrer' class='hover:underline underline-offset-[3px] active:opacity-70'
        >+54 351 591 7215</a
      >
      <a href='mailto:unagotadesalud@gmail.com' class='hover:underline underline-offset-[3px] active:opacity-70'>unagotadesalud@gmail.com</a>
      <div class='flex gap-4 mt-10'>
        {
          socialLinks.map((social) => (
            <a href={social.link} target='_blank' rel='noopener noreferrer' class='hover:opacity-80'>
              <img src={`/media/layout/icon-${social.id}-white.svg`} alt={social.id} class='w-6 h-6' />
            </a>
          ))
        }
      </div>
    </div>
  </div>

  <div class='w-full max-w-container mt-12 pt-8 flex flex-col items-center gap-1 border-t border-white [&>p]:text-lg'>
    <p>© 2025 Una Gota de Salud. Todos los derechos reservados</p>
    <p>
      Fotografía por <a
        href={credits.fotografia.href}
        target='_blank'
        rel='noopener noreferrer'
        class='underline underline-offset-[3px] hover:opacity-70'>{credits.fotografia.name}</a
      >
      | Web sin fines de lucro por <a
        href={credits.web.href}
        target='_blank'
        rel='noopener noreferrer'
        class='underline underline-offset-[3px] hover:opacity-70'>{credits.web.name}</a
      >
    </p>
  </div>
</footer>
