---
import Button from '@/components/Button.astro';

const links = [
  { label: 'Inicio', href: '/' },
  { label: 'Quiénes somos', href: '/quienes-somos' },
  { label: 'Qué hacemos', href: '/que-hacemos' },
  { label: 'Formas de ayudar', href: '/formas-de-ayudar' },
  { label: 'Donaciones', href: '/donaciones' },
  { label: 'Contacto', href: '/contacto' },
];

const socialLinks = [
  { id: 'facebook', link: 'https://www.facebook.com/unagotade.salud' },
  { id: 'instagram', link: 'https://www.instagram.com/unagotadesalud/' },
  { id: 'whatsapp', link: 'https://wa.me/543516134947' },
];

const credits = {
  fotografia: {
    name: 'Analía Villagra',
    href: 'https://www.facebook.com/analia.villagra',
  },
  web: {
    name: 'Facundo Chavez',
    href: 'https://www.facundochavez.com/es',
  },
};

const currentPath = Astro.url.pathname;

const isActive = (href: string) => {
  if (href === '/') {
    return currentPath === href;
  }
  return currentPath.startsWith(href);
};
---

<footer class='w-screen bg-primary text-white text-base sm:text-lg flex flex-col items-center px-[5%] pt-16 pb-12'>
  <div class='w-full max-w-container grid grid-cols-1 sm:grid-cols-2 2lg:grid-cols-3 gap-4 sm:gap-12 2lg:gap-16'>
    <!-- NAVBAR -->
    <nav class='flex flex-col gap-4 2lg:pl-16'>
      {
        links.map((link) => (
          <a
            href={link.href}
            class:list={['hover:underline underline-offset-[6px] active:opacity-70 w-fit', isActive(link.href) && 'underline pointer-events-none']}
          >
            {link.label}
          </a>
        ))
      }
    </nav>

    <!-- CONTACT -->
    <div class='flex flex-col sm:gap-1'>
      <Button href='/voluntariado' class='bg-white !text-primary w-fit hover:bg-white/80'>Voluntariado &nbsp;→</Button>
      <a
        href='https://maps.app.goo.gl/2AQruwaYY6AMYJV96'
        target='_blank'
        class='mt-14 sm:mt-10 hover:underline underline-offset-[3px] active:opacity-70'>Santa Rosa 1803, Córdoba Capital</a
      >
      <p>
        <a
          href='https://wa.me/543516134947'
          target='_blank'
          rel='noopener noreferrer'
          class='hover:underline underline-offset-[3px] active:opacity-70'>(351) 613 4947</a
        >
        /
        <a
          href='https://wa.me/543515917215'
          target='_blank'
          rel='noopener noreferrer'
          class='hover:underline underline-offset-[3px] active:opacity-70'>(351) 591 7215</a
        >
      </p>
      <a href='mailto:unagotadesalud@gmail.com' class='hover:underline underline-offset-[3px] active:opacity-70'>unagotadesalud@gmail.com</a>
      <div class='flex gap-4 mt-4 sm:mt-10'>
        {
          socialLinks.map((social) => (
            <a href={social.link} target='_blank' rel='noopener noreferrer' class='hover:opacity-80'>
              <img src={`/icons/icon-${social.id}-white.svg`} alt={social.id} class='w-6 h-6' />
            </a>
          ))
        }
      </div>
    </div>

    <!-- BRAND -->
    <div class='flex flex-col gap-4 [&>p]:text-base sm:[&>p]:text-lg sm:col-span-2 2lg:col-span-1 2lg:order-first mt-10 sm:mt-0'>
      <a href='/'>
        <img src='/logo-mobile-white.svg' alt='Logotipo de Una Gota de Salud' class='w-[14rem] sm:w-[16rem] h-auto self-center' />
      </a>
      <p class='mt-4 mb-2 text-balance !leading-6'>
        Una Gota de Salud es una organización no gubernamental sin fines de lucro, destinada a brindar asistencia sanitaria en parajes inhóspitos del
        noroeste de Córdoba.
      </p>
      <p>PERSONERÍA JURÍDICA Nº 161 “A”/14</p>
    </div>
  </div>

  <div class='w-full max-w-container mt-12 pt-8 flex flex-col items-center gap-1 border-t border-white [&>p]:text-base sm:[&>p]:text-lg text-center'>
    <p>© 2025 Una Gota de Salud. Todos los derechos reservados</p>
    <p>
      Fotografía por <a
        href={credits.fotografia.href}
        target='_blank'
        rel='noopener noreferrer'
        class='underline underline-offset-[3px] hover:opacity-70'>{credits.fotografia.name}</a
      >
      | Web sin fines de lucro por <a
        href={credits.web.href}
        target='_blank'
        rel='noopener noreferrer'
        class='underline underline-offset-[3px] hover:opacity-70'>{credits.web.name}</a
      >
    </p>
  </div>
</footer>
