---
const firstContainerImages = [
  { alt: 'Médica con paciente', aspectRatio: 1 },
  { alt: 'Nutricionista pesando a niño', aspectRatio: 1 },
  { alt: 'Joven en sillas de ruedas sonriendo', aspectRatio: 1 },
  { alt: 'Médica atendiendo a anciana en silla de ruedas', aspectRatio: 1.36 },
  { alt: 'Niño sonriente con una cabra', aspectRatio: 0.73 },
  { alt: 'Médicas atendiendo a niña', aspectRatio: 1.4 },
  { alt: 'Niño sonriente con yogurt', aspectRatio: 0.67 },
];
const secondContainerImages = [
  { alt: 'Niños pintando libros para colorear en el suelo', aspectRatio: 1.35 },
  { alt: 'Niño sonriente en silla de ruedas con un trencito de juguete en las manos', aspectRatio: 0.74 },
  { alt: 'Pediatra sosteniendo a beba', aspectRatio: 1.39 },
  { alt: 'Odontóloga atendiendo a un niño', aspectRatio: 0.82 },
  { alt: 'Niños con ropas donadas nuevas levantando el pulgar hacia la cámara', aspectRatio: 1.37 },
  { alt: 'Hombre dando de comer a un perro', aspectRatio: 0.82 },
  { alt: 'Médica leyendo historia clínica', aspectRatio: 0.79 },
];
---

<section id='carousel-section' class='relative min-h-[250vh] !p-0'>
  <div id='carousel-wrapper' class='absolute top-0 left-1/2 w-screen h-full -translate-x-1/2'>
    <div class='sticky top-[5vh] h-screen w-full flex flex-col items-center gap-6'>
      <div id='carousel-first-container' class='flex gap-6 [&>div]:relative [&>div]:overflow-hidden [&>div]:rounded-xl'>
        {
          firstContainerImages.slice(3).map((image, index) => (
            <div class='h-full' style={`aspect-ratio: ${image.aspectRatio}`}>
              <img src={`/media/inicio/gallery-1.${index + 3}.webp`} alt={image.alt} class='h-full w-full object-cover' />
            </div>
          ))
        }
        <div class='h-full' id='carousel-left'>
          <img src='/media/inicio/gallery-1.0.webp' alt={firstContainerImages[0].alt} class='absolute inset-0 h-full w-full object-cover' />
        </div>
        <div class='h-[95vh] max-h-[60vw]' id='carousel-center'>
          <img src='/media/inicio/gallery-1.1.webp' alt={firstContainerImages[1].alt} class='absolute inset-0 h-full w-full object-cover' />
        </div>
        <div class='h-full' id='carousel-right'>
          <img src='/media/inicio/gallery-1.2.webp' alt={firstContainerImages[2].alt} class='absolute inset-0 h-full w-full object-cover' />
        </div>
        {
          firstContainerImages.slice(3).map((image, index) => (
            <div class='h-full' style={`aspect-ratio: ${image.aspectRatio}`}>
              <img src={`/media/inicio/gallery-1.${index + 3}.webp`} alt={image.alt} class='h-full w-full object-cover' />
            </div>
          ))
        }
      </div>
      <div
        id='carousel-second-container'
        class='h-[95vh] max-h-[60vw] flex flex-row-reverse gap-6 [&>div]:relative [&>div]:overflow-hidden [&>div]:rounded-xl'
      >
        {
          secondContainerImages.map((image, index) => (
            <div class='h-full' style={`aspect-ratio: ${image.aspectRatio}`}>
              <img src={`/media/inicio/gallery-2.${index}.webp`} alt={image.alt} class='h-full w-full object-cover' />
            </div>
          ))
        }
        {
          secondContainerImages.map((image, index) => (
            <div class='h-full' style={`aspect-ratio: ${image.aspectRatio}`}>
              <img src={`/media/inicio/gallery-2.${index}.webp`} alt={image.alt} class='h-full w-full object-cover' />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>

<script is:inline>
  const wrapper = document.getElementById('carousel-wrapper');
  const section = document.getElementById('carousel-section');
  const left = document.getElementById('carousel-left');
  const center = document.getElementById('carousel-center');
  const right = document.getElementById('carousel-right');
  const firstContainer = document.getElementById('carousel-first-container');
  const secondContainer = document.getElementById('carousel-second-container');

  if (wrapper && section && left && center && right && firstContainer) {
    let lastLeftAspectRatio, lastCenterAspectRatio, lastRightAspectRatio;

    const carouselEffects = () => {
      const rect = wrapper.getBoundingClientRect();
      const sectionRect = section.getBoundingClientRect();

      const widthStartPoint = window.innerHeight;
      const widthEndPoint = 3 * 16;

      const progressForWidth = Math.min(1, Math.max(0, (widthStartPoint - rect.top) / (widthStartPoint - widthEndPoint)));

      if (progressForWidth >= 0 && progressForWidth < 1) {
        left.style.aspectRatio = null;
        center.style.aspectRatio = null;
        right.style.aspectRatio = null;

        center.style.height = '95vh';
        firstContainer.style.transform = 'translateX(0)';

        const sideWidthPercentage = 20 + 20 * progressForWidth;
        const centerWidthPercentage = 70 - 35 * progressForWidth;

        left.style.width = `${sideWidthPercentage}vw`;
        center.style.width = `${centerWidthPercentage}vw`;
        right.style.width = `${sideWidthPercentage}vw`;

        lastLeftAspectRatio = left.offsetWidth / left.offsetHeight;
        lastCenterAspectRatio = center.offsetWidth / center.offsetHeight;
        lastRightAspectRatio = right.offsetWidth / right.offsetHeight;
      } else {
        left.style.aspectRatio = `${lastLeftAspectRatio || 1}`;
        center.style.aspectRatio = `${lastCenterAspectRatio || 0.7}`;
        right.style.aspectRatio = `${lastRightAspectRatio || 1}`;

        left.style.width = null;
        center.style.width = null;
        right.style.width = null;

        const progressForHeight = Math.min(1, Math.max(0, 3 * (1 - sectionRect.bottom / (sectionRect.height + window.innerHeight * 0.05))));
        console.log(progressForHeight);
        center.style.height = `${95 - 55 * progressForHeight}vh`;
        secondContainer.style.minHeight = `${95 - 55 * progressForHeight}vh`;
        secondContainer.style.height = `${95 - 55 * progressForHeight}vh`;

        const progressForTranslation = Math.min(1, Math.max(0, 1 - sectionRect.bottom / (sectionRect.height + window.innerHeight * 0.05)));
        firstContainer.style.transform = `translateX(-${80 * progressForTranslation}vw)`;
        secondContainer.style.transform = `translateX(${80 * progressForTranslation}vw)`;
      }
    };

    window.addEventListener('scroll', carouselEffects);
    window.addEventListener('resize', carouselEffects);
    carouselEffects();
  }
</script>
