---
import Button from '@/components/Button.astro';
const { title, firstButtonHref, firstButtonLabel, secondButtonHref, secondButtonLabel, maxChars = 20, pt = 32, pb = 32 } = Astro.props;
---

<section class=`flex flex-col items-center` style={{ paddingTop: `${pt / 4}rem`, paddingBottom: `${pb / 4}rem` }}>
  <div class='flex flex-col items-center gap-10'>
    <h2 class={`text-center text-balance`} style={`max-width: ${maxChars}ch`}>
      {title}
    </h2>
    <div class='w-full flex flex-col xs:flex-row justify-center gap-3 sm:gap-4'>
      <Button href={firstButtonHref} variant='secondary' class='w-full xs:w-fit'>{firstButtonLabel}</Button>
      <Button href={secondButtonHref} class='w-full xs:w-fit'>{secondButtonLabel}</Button>
    </div>
  </div>
</section>

<style>
  section {
    @media (max-width: 640px) {
      padding-bottom: 6rem !important;
    }
  }
</style>
