---
const { id, title, firstParagraph, secondParagraph, firstImageWidth, firstImageAlt, secondImageAlt } = Astro.props;
---

<div id={id} class='flex flex-col gap-6 pt-12 pb-4'>
  <h2>{title}</h2>
  <p>{firstParagraph}</p>
  <p>{secondParagraph}</p>
  <div class='flex flex-col md:flex-row gap-8 md:h-[28rem] w-full mt-8'>
    <div style={`width: ${firstImageWidth}`} class='relative min-w-full md:min-w-[unset] aspect-[1.5] rounded-xl overflow-hidden'>
      <img src={`/media/que-hacemos/${id}-1.webp`} alt={firstImageAlt} class='w-full h-full object-cover' />
    </div>

    <div class='relative w-full aspect-[1.5] md:h-full flex-1 rounded-xl overflow-hidden'>
      <img src={`/media/que-hacemos/${id}-2.webp`} alt={secondImageAlt} class='w-full h-full object-cover' />
    </div>
  </div>
</div>
