---
import Button from '@/components/Button.astro';
const { imageSrc, alt, title, firstButtonHref, secondButtonHref, firstButtonLabel, secondButtonLabel, align = 'center', maxChars = 22 } = Astro.props;
---

<section
  id='parallax-footer-section'
  class='relative h-[35rem] max-h-[50vw] flex flex-col gap-16 justify-center'
  style={`align-items: ${align === 'left' ? 'start' : align === 'right' ? 'end' : 'center'}`}
>
  <div class='absolute left-1/2 w-screen -translate-x-1/2 z-[-1] inset-0 h-full overflow-hidden'>
    <img id='parallax-footer-image' src={imageSrc} alt={alt} class='w-full h-full min-h-[calc(100%+400px)] -mt-[400px] object-cover object-center' />
    {title && <div class='absolute inset-0 w-full h-full bg-gradient-to-r from-transparent to-black/50' />}
  </div>

  {
    title && (
      <h2 style={`text-align: ${align}; max-width: ${maxChars}ch;`} class='text-[2.5rem] leading-[2.5rem] font-medium text-white'>
        {title}
      </h2>
    )
  }
  <div class='flex gap-4'>
    {
      firstButtonLabel && (
        <Button href={firstButtonHref} variant='secondary'>
          {firstButtonLabel}
        </Button>
      )
    }
    {secondButtonLabel && <Button href={secondButtonHref}>{secondButtonLabel}</Button>}
  </div>
</section>

<script>
  const section = document.getElementById('parallax-footer-section');
  const image = document.getElementById('parallax-footer-image');

  if (!section || !image) throw new Error('Required elements not found');

  const handleScroll = () => {
    const sectionRect = section.getBoundingClientRect();
    const viewportHeight = window.innerHeight;
    const scrollProgress = Math.min(1, Math.max(0, (viewportHeight - sectionRect.top) / (viewportHeight + sectionRect.height)));
    const translation = scrollProgress * 300;
    image.style.transform = `translateY(${translation}px)`;
  };

  window.addEventListener('scroll', handleScroll);
</script>
