---
const { title, description, image, alt, fromOpacity = 0.5, toOpacity = 0, objectPosition = '70' } = Astro.props;
---

<section id='parallax-section' class='relative 2lg:h-[30rem] max-h-[50vw] min-h-fit flex flex-col gap-5 2lg:gap-10 text-white'>
  <div class='absolute left-1/2 w-screen -translate-x-1/2 z-[-1] inset-0 h-full overflow-hidden'>
    <img
      id='parallax-image'
      src={image}
      alt={alt}
      class=`w-full min-h-[calc(100%+100px)] object-cover -mt-[100px] object-[${objectPosition}%_center]`
    />
    <div
      class='absolute inset-0 w-full h-full sm:hidden'
      style={`background: linear-gradient(to right, rgba(0,0,0,${fromOpacity}) 30%, rgba(0,0,0,${0.4}) 100%)`}
    >
    </div>
    <div
      class='absolute inset-0 w-full h-full hidden sm:block'
      style={`background: linear-gradient(to right, rgba(0,0,0,${fromOpacity}) 30%, rgba(0,0,0,${toOpacity}) 100%)`}
    >
    </div>
  </div>

  <h1>{title}</h1>
  <p class='text-[1rem] leading-5 xs:text-[1.3rem] xs:leading-6 2lg:text-[1.65rem] 2lg:leading-[2rem] max-w-[30ch] text-balance'>{description}</p>
</section>

<script>
  const section = document.getElementById('parallax-section');
  const image = document.getElementById('parallax-image');

  if (!section || !image) throw new Error('Required elements not found');

  // Obtener la distancia inicial entre el borde inferior de la sección y el viewport
  const sectionRect = section.getBoundingClientRect();
  const initialDistance = sectionRect.height + 6 * 16;

  const handleScroll = () => {
    const currentRect = section.getBoundingClientRect();

    // Calcular el progreso basado en la distancia recorrida
    const scrollProgress = Math.min(1, Math.max(0, (initialDistance - currentRect.bottom) / initialDistance));

    // Aplicar la traslación basada en el progreso
    const translation = scrollProgress * 200;
    image.style.transform = `translateY(${translation}px)`;

    console.log(initialDistance, currentRect.bottom);
  };

  window.addEventListener('scroll', handleScroll);
</script>
